@import 'nullstyle.css';
@font-face {
    font-family: "Redcollar";
    src: url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.eot");
    src: url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.svg#Redcollar") format("svg"); 
}
@font-face {
    font-family: TT Commons;
    src: url("./fonts/TT\ Commons\ Regular.otf") format("opentype");
}

    
body{
    background-color: black;
    color: #ffffff;
}
.logo{
    position: absolute;
    right: 40px;
    left: auto;
    top:26px;
}
@media (max-width: 600px) {
    .logo{
        position: absolute;
        left: 20px;
        right: auto;
        top:20px;
    }
}
main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(80vh, auto);
    column-gap: 32px;
    margin: 40px;
}

@media (max-width: 600px) {
    main{
        display: flex;
        flex-direction: column;
        margin: 0px 20px;
    }
}

.about {
    width: 322px;
    grid-column: 1 / 4;
   
}

@media (max-width: 600px) {
    .about {
        margin-top: 90px;
    }
}

.about img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.about__svg{
    position: absolute;
    top:368px;
    left: 171px;
}

@media (max-width: 600px) {
    .about__svg{
        position: absolute;
        top:395px;
        left: 151px;
    }
}

.about__text {
    position: absolute;
    background-color: #F51B1B;
    width: 322px;
    height: 454px;
    border-radius: 24px 24px 0px 0px;
    font-size: 20px;
    font-family: TT Commons;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.4px;
    padding: 40px 24px;
    margin-top: -29px;  
}

@media (max-width: 600px) {
    .about__text{
        top:442.4px;
        height: 288px;
        padding: 24px 16px 60px 16px;
        width: 320px;
    }
}

.about__text img{
    float: left;
}

.about__header{
    font-size: 24px;
    font-family: 'Redcollar';
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.48px;
}

.connection__text{
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 255px;
    margin-left: -10px;
}
@media (max-width: 600px) {
    .connection__text{
        padding: 32px 0px;
        margin-left: 0px;
    }
}

.connection__text a,.connection__text p{
    padding-left: 16px;
    width: 215px;
    word-wrap: break-word;
    color: #ffffff;
}
@media (max-width: 600px) {
    .connection__text a,.connection__text p{
        width: 265px;
        word-wrap: break-word;
    }
}

.connection__text p,img{
    padding-bottom: 20px;
}


.info {
    margin-top: 18px;
    height: 100px;
    grid-column: 4 / 13;
    font-size: 18px;
    font-family: TT Commons;
}

@media (max-width: 600px) {
    .info{
        margin-top: 280px;
    }
}

.info__text {
    width: 690px;
    font-size: 18px;
    font-family: TT Commons;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.18px;
}

@media (max-width: 1100px) {
    .info__text{
        width: 320px;
    }
}

.info__text a{ 
    color: #F51B1B;
}

.info__text ol{
    margin-left: 20px;
}
.info__cv {
    margin-top: 33px;
}
.info__cv-text {
    position: absolute;
    top:450px;
    max-width: 950px;
    margin-left: 27px;
    display: flex;
    flex-direction: column;
    
}

@media (max-width: 600px) {
    .info__cv-text{
        top:1330px;
        width: 288px;
        margin-left: 15px;
    }

}

@media ((min-width:601px) and (max-width: 900px)) {
    .info__cv-text{
        top:630px;
        width: 288px;
        margin-left: 15px;
    }

}

@media ((min-width:901px) and (max-width: 1100px)) {
    .info__cv-text{
        top:630px;
        width: 500px;
        margin-left: 15px;
    }

}

.info__frame1, .info__frame2{
    display: none;
}

@media (max-width: 600px) {
    .info__frame{
        display: none;
    }
    .info__frame1, .info__frame2{
        display: block;
    }
    .info__frame2{
        position: absolute;
        left: 146px;
        right: auto;
    }
}

@media ((min-width:601px) and (max-width: 900px)) {
    .info__frame{
        display: none;
    }
    .info__frame1, .info__frame2{
        display: block;
    }
    .info__frame2{
        position: absolute;
        left: 500px;
        right: auto;
    }
}

.info__one {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid #ffffff65;
    padding: 20px 0px;
}

@media (max-width: 900px) {
    .info__one{
        display: block;
    }
}

.info__one h3{
    padding-right: 72px;
    font-size: 16px;
    font-family: Redcollar;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.info__two {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.18px;
}

@media (max-width: 900px) {
    .info__two{
        margin-top: 16px;
    }
}

.info__two p{
    opacity: 0.4000000059604645;
}
.info__three{
    display: flex;  
    font-family: TT Commons;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.16px;
    }

@media (max-width: 900px) {
    .info__three{
        margin-top: 16px;
      
    }
}

.info__three p{
    padding-right: 32px;
}
